// Breadcrumb: fix visually messy word wraps in long breadcrumbs
.breadcrumb-nav-list-item {
    display: inline-block;
}

// Definition list: broader left-column
.main-content dl {
    grid-template: auto / 15em 1fr;
}
// Definition list: fix margin in multi-line items
.main-content dt {
    margin-bottom: 0;
}
// Definition list: remove colon
.main-content dt::after {
    content: "";
}

// Navbar
.site-nav {
    scrollbar-width: thin;
    scrollbar-color: #d9e7ef transparent;
}
