// Bredere navbar
$nav-width: 24rem;

// Fix margin in multi-line definition items
.main-content dt {
    margin-bottom: 0;
}

// Add border to definition lists
.main-content dl {
    border-top: 1px dotted $grey-lt-300;
}

// A thin navigation scrollbar
.site-nav {
    scrollbar-width: thin;
}
